<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="newStyle.css">
</head>
<body>
    <form method="post" action="/posts">
        
        <input class="userName" placeholder="enter username" name="username"><br>
        <textarea class="Textt" placeholder="enter content" name="content"></textarea><br>
        <button class="button1" type="submit">submit</button>
    </form>
</body>
</html>